# EMAIL SPAM DETECTION

In [10]:
import pandas as pd
import numpy as np

from sklearn.feature_extraction.text import CountVectorizer

In [11]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 143F-DF3F

 Directory of C:\Users\hi\OneDrive\Documents\AICTE_Project\EMAIL-SPAM-DETECTION

16-01-2025  20:09    <DIR>          .
16-01-2025  20:09    <DIR>          ..
16-01-2025  20:09    <DIR>          .ipynb_checkpoints
16-01-2025  20:08                72 email-spam.ipynb
16-01-2025  12:07           503,673 spam.csv
               2 File(s)        503,745 bytes
               3 Dir(s)  26,103,554,048 bytes free

In [12]:
data=pd.read_csv("spam.csv", encoding="latin-1")
data.head()

,class,message,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [13]:
data.columns

Index(['class', 'message', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], dtype='object')

In [14]:
data.drop(['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], axis=1, inplace=True)

In [15]:
data.head()

  class                                            message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [16]:
data['class']=data['class'].map({'ham':0, 'spam':1})

In [17]:
data.head()

   class                                            message
0      0  Go until jurong point, crazy.. Available only ...
1      0                      Ok lar... Joking wif u oni...
2      1  Free entry in 2 a wkly comp to win FA Cup fina...
3      0  U dun say so early hor... U c already then say...
4      0  Nah I don't think he goes to usf, he lives aro...